* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    background-color: #75aceb;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}
.logo {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}
.banana-logo {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: block;
}
.navbar-links li:hover {
    background-color: #a8a1a1;
}

.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    top: 0.75rem;
    right: 1rem;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}

/*
responsive navbar code 
*/
@media screen and (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

.search {
    width: 100vw;
    height: 5vh;
    background-color: #a8a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-rounded {
    background-color: #fff;
    /* border-left: solid black 1px; */
    height: 30px;
    border: #000 3px solid;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 0.5rem;
}
.searchbar {
    width: 20vw;
    height: 30px;
    /* border-radius: 20px; */
    border: #000 3px solid;
    border-left: none;
    padding-left: 0.5rem;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.searchbar::placeholder {
    font-size: 15px;
    color: #000;
    opacity: 0.8;
}
#main {
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-image: url('assets/movie-film-video-production-ss-1920-800x450.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.heading {
    text-align: center;
}
.intro {
    color: #c3c3c3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 40px;
}